USE [master]
GO
/****** Object:  Database [bd18]    Script Date: 21.04.2023 12:41:22 ******/
CREATE DATABASE [bd18]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd18', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\bd18.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'bd18_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\bd18_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd18].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd18]
GO
/****** Object:  Table [dbo].[Accounting]    Script Date: 21.04.2023 12:41:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounting](
	[ID] [int] NOT NULL,
	[Surname] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[ThirdName] [nvarchar](20) NULL,
	[MondayDetailsNumber] [int] NULL,
	[ToesdayDetailsNumber] [int] NULL,
	[WednesdayDetailsNumber] [int] NULL,
	[ThursdayDetailsNumber] [int] NULL,
	[FridayDetailsNumber] [int] NULL,
	[Workshop] [nvarchar](20) NULL,
	[Product] [nvarchar](20) NULL,
	[Price] [int] NULL,
 CONSTRAINT [PK_Accounting] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accounting] ([ID], [Surname], [Name], [ThirdName], [MondayDetailsNumber], [ToesdayDetailsNumber], [WednesdayDetailsNumber], [ThursdayDetailsNumber], [FridayDetailsNumber], [Workshop], [Product], [Price]) VALUES (1, N'Сидоров', N'Иван', N'Андреевич', 64, 123, 213, 123, 213, N'Конвеерный', N'Микросхема', 4999)
INSERT [dbo].[Accounting] ([ID], [Surname], [Name], [ThirdName], [MondayDetailsNumber], [ToesdayDetailsNumber], [WednesdayDetailsNumber], [ThursdayDetailsNumber], [FridayDetailsNumber], [Workshop], [Product], [Price]) VALUES (2, N'Петров', N'Глеб', N'Иванович', 108, 50, 14, 43, 57, N'Конвеерный', N'Электромагнит', 480)
INSERT [dbo].[Accounting] ([ID], [Surname], [Name], [ThirdName], [MondayDetailsNumber], [ToesdayDetailsNumber], [WednesdayDetailsNumber], [ThursdayDetailsNumber], [FridayDetailsNumber], [Workshop], [Product], [Price]) VALUES (3, N'Кузнецов', N'Иван', NULL, 135, 88, 156, 217, 40, N'Литейный', N'Каркас', 6392)
GO
USE [master]
GO
